* {
    padding: 0px;
    margin: 0px;
}

html {
    background-image: url(maybe.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}


h2 {
    font-size: 64px;
    color: wheat margin: 0;
    padding: 0;
}

.infoLine {
    display: flex;
    padding-bottom: 2em;
}

.info {
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
}

.cam-container {
    display: flex;
    justify-content: center;
}

#loading {
    font-size: 100px;
    color: white;
    background-color: black;
}

#input_video {
    width: 70vw;
    border-radius: 8%;
    visibility: hidden;


}


@media only screen and (max-width: 1080px) {

    h2 {
        color: green;
    }

    #input_video {
        width: 90vw
    }

    #landmarkVisibility {
        font-size: 64px;
        margin: 0;
        padding: 0;
    }

}