html {
    background-image: url(maybe.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;


}

h2 {
    font-size: 64px;
    color: wheat
}

.infoLine {
    display: flex;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.cam-container {
    display: flex;
    justify-content: center;
}

#input_video {
    width: 70vw;
    border-radius: 15%;

}


@media only screen and (max-width: 1080px) {

    h2 {
        color: green;
    }

    #input_video {
        width: 90vw
    }

}