* {
    padding: 0px;
    margin: 0px;
}

html {
    background-image: url(maybe.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}


h2 {
    font-size: 60px;
    color: wheat;
    margin: 0;
    padding: 0;
}

.infoLine {
    display: flex;
    padding-bottom: 2em;
}

button {
    height: 5em;
    width: 10em;
    font-size: 1.5em;
    padding: 0px;
    border-radius: 3em;
}

button:hover {
    background-color: blue;
    color: white;
    border: white solid 3px
}

.info,
.gameInfo {
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
}

#comboInfo {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.correctAndIncorrect {
    display: flex;
    gap: 10vw;
    justify-content: space-evenly
}

.cam-container {
    display: flex;
    justify-content: center;
}

#loading {
    font-size: 100px;
    color: white;
    background-color: black;
}

#input_video {
    width: 65vw;
    border-radius: 8%;
    visibility: hidden;
    margin-top: -12em;

}

.bigFont {
    font-size: 8em;
}

@media only screen and (max-width: 1080px) {

    h2 {
        color: whitesmoke;
    }

    #input_video {
        width: 90vw
    }

    #landmarkVisibility {
        font-size: 64px;
        margin: 0;
        padding: 0;
    }

    .bigFont {
        font-size: 10em;
    }

}